* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    font-display: swap;
    padding: 100px;
    font-family: 'Dosis', sans-serif;
    height: inherit;
    background-image: url(background4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 50%;
    padding: 50px 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.34);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

input {
    width: 100%;
    padding: 10px 5px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
}


#btn {
    width: 30%;
    background-color: rgb(14, 14, 237);
    font-size: 15px;
    border: 1px solid rgb(14, 14, 237) ;
    border-radius: 4px;
    color: wheat;
    padding: 10px;
    overflow: hidden;
    transition: 0.51s;
}

#btn:hover {
    color: aliceblue;
    background-color: orange;
    border: 1px solid orange ;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

li {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

li div i {
    padding: 10px;
    color:white;
    transition: 0.51s;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(14, 14, 237);
}

li div i:hover {
    color: aliceblue;
    background-color: orange;
}

li div {
    display: flex;
    gap: 5px;
}